{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": [2, "single"],
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": 0,
    "no-console": "error",
    "no-multi-spaces": "error",
    "class-methods-use-this": "off",
    "no-unused-expressions": [
      2,
      {
        "allowTernary": true
      }
    ],
    "newline-per-chained-call": "off"
  }
}
